@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
  text-align: center;
  font-family: 'Alata', sans-serif;
  background-color: rgb(40, 40, 40);
  color: rgb(136, 255, 0);
  padding-top: 30px;
}

input {
  background-color: white;
  border-radius: 15px;
  color: black;
  padding: 5px;
  outline: none;
}

.name {
  color: rgb(255, 0, 191);
}